<div class="results-wrapper main-results-container">
  <div class="results-container text-center">
    <h3>Choose among amazing electric cars</h3>

    <div class="pg-search">
      <%= form_tag cars_path, method: :get do %>
        <div class="container-search algolia">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type in your favorite E-Car"
        %>
        <%= text_field_tag :location,
        params[:location],
        class: "form-control",
        placeholder: "Where do we want to go now?" 
        %>
        <%= submit_tag "Search", class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>

    <p class="text-left"><%= @cars.length < 2 ? "#{ @cars.length } result" : "#{ @cars.length } results" %></p>

    <div class="results-cards">
      <% @cars.each do |car| %>
        <div class="card">
          <% if car.photo.attached? %>
            <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <%= link_to "Show details >>", car, class: "show-details"%>
          <h2><%= car.brand %></h2>
          <div class="results-detail">
            <div>
              <p><%= car.model %></p>
            </div>
            <div><p><span class="light-words"></span><%= car.price_per_day %>€/day</p></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="map"
    style="width: 475px; height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
