<div class="results-wrapper">


  <div class="main-results-container">
    <div class="results-container text-center">

      <h3>Choose among amazing electric cars</h3>
      <div class="filters-bar text-center">
        <%#= render "shared/form_index" %>
        <div class="categories-container">
          <div class="category-item tag compact">
            <%= image_tag "logo.png", class: "img-icon" %>
            <h5>Compact city</h5>
          </div>
          <div class="category-item tag family">
            <%= image_tag "logo.png", class: "img-icon" %>
            <h5>Family car</h5>
          </div>
          <div class="category-item tag sport">
            <%= image_tag "logo.png", class: "img-icon" %>
            <h5>Sports car</h5>
          </div>
          <div class="category-item tag all-rounder">
            <%= image_tag "logo.png", class: "img-icon" %>
            <h5>All-rounder</h5>
          </div>
        </div>
      </div>
      <p class="text-left"><%= @cars.length < 2 ? "#{ @cars.length } result" : "#{ @cars.length } results" %></p>

      <div class="results-cards">
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
          Rio
        </div>
  
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/berlin)">
          Berlin
        </div>
  
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/shanghai)">
          Shanghai
        </div>
  
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/barcelona)">
          Barcelona
        </div>
      </div>
    </div>
  


  </div>

</div>

<%= link_to 'New car', new_car_path %>
<br>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>