<div class="banner-host image-banner">
    <div class="container">
        <div class="banner-content-host">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="formular">
                        <h1 class="text-center">Offer your e-car</h1>

                        <%= simple_form_for @car, :html => { class: 'form-checkbox-inline' } do |f| %>
                            <%= f.input :brand %>
                            <%= f.input :model %>
                            <%= f.input :description %>
                            <%= f.input :location, label: "Full Address" %>
                            <%= f.input :category,
                                collection: ["compact city", "family car", "sports car", "all-rounder"]
                            %>
                            <%= f.input :price_per_day, label: "Price Per Day (€)" %>
                            <%= f.input :number_of_seat, collection: [ 1 ,2 ,3, 4 ] %>
                            <%= f.input :photo, as: :file %>
                            <%= f.button :submit, "Create new car", class: "btn btn-success form-control" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>