<h1>New car</h1>

<% if policy(Car).create? %>
    <%= link_to "New car", new_car_path %>
<% end %>

<%= simple_form_for @car do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :location %>
    <%= f.submit %>
<% end %>